/* 

.card-body{
background-color: rgba(187, 51, 187, 0.31);
height: 750px;
border: 2px solid white;
border-radius: 20px;

}
#hh{
   margin-top: -40px;
}
.form-control form-control-lg{
   margin: -10px;
   
} */

